<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results page</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/util.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">  
<!--===============================================================================================-->
</head>

<body>
    <h1>Sorry, we didn't find<span data-shadow-text="The best place">The best place</span><br><br><br> for your company   
</body>

</html>